.wrapper {
	margin: 0 auto;
	width: 80%;
}

.logo {
	width: 190px;
	height: 35px;
	background-image: url(logo.svg);
}

.header {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.menu {
	display: flex;	
	align-items: center;	
}

.menu__item { 
	position: relative;
	text-decoration: none;
	margin-right: 26px;
    font:500 18px/21px 'Roboto', sans-serif;/* weight size/height family*/
    color: #000;
    transition: opacity .5s;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__item::after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #0056EC;
	opacity: 0;
	transition: opacity .5s;
}

.menu__item_active::after  {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #0056EC;
}

.menu__item:hover {
	opacity: .5;
}

.menu__item:hover:after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;
}

.main-section {
	display: flex;
	justify-content: space-between;
}

.main {
	padding-top: 100px;
	padding-right: 63%;
}

.main__title {
	margin: 0 0 40px 0;
	font: bold 50px/66px pt_serifregular, arial, helvetica, sans-serif;
}

.main__subtitle {
	margin: 0 0 41px 0;
	font: 500 18px/21px 'Roboto', sans-serif;
}

.main__description {
	margin-bottom: 40px;
}

.main__button {
	padding: 18px 21px;
}

.image-content__image {
	margin-top: 16%;	
	margin-bottom: 17%;	
}
