.wrapper {
  margin: 0 auto;
  width: 80%;
}

.logo {
  width: 190px;
  height: 35px;
  background-image: url(img/logo.svg);
}

.header {
  padding: 33px 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;	
  align-items: center;	
}

.menu__item { 
  position: relative;
  text-decoration: none;
  margin-right: 30px;
  font: 500 18px/21px 'Roboto', sans-serif;
  color: #000;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:nth-child(-n+2) {
  margin-right: 25px;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}

.menu__item_active::after  {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.main {
  padding-top: 208px;
  padding-right: 60%;
  padding-bottom: 130px;
  background: top 132px right no-repeat url(img/img.svg);
}

.main__title {
  width: 567px;
  letter-spacing: -0.2px; 
  margin: 0 0 37px 0;
  font: bold 66.5px/87px pt_serifbold, arial, helvetica, sans-serif;
}

.main__subtitle {
  width: 455px;
  margin: 0;
  margin-bottom: 40px;
  font: 500 22px/26px 'Roboto', sans-serif;
}

.main__title-text_highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.main__button {
  text-decoration: none;
  display: inline-block;
  padding: 19px 35px 17px 20px;
  background: #0056ec;
  border-radius: 4px;
  color: white;
  font: 500 18px/22px 'Roboto', sans-serif;
  transform: opacity 0.5s;
}

.main__button:hover {
  opacity: .5;
}




